.landing {
    background-image: url('../assets/children.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   height: 100vh;
}
.text-center{
    color: orange;
}