<div>
  <ul *ngFor="let quote of quotes">
    <div *ngIf="quote.id == 1; then highlight else empty"></div>
    <ng-template #highlight>
      <li appHighlight>
        {{ quote.quote }}
        <span class="btn btn-outline-success m-1">like: {{ quote.like }}</span
        ><span class="btn btn-outline-danger m-1"
          >dislike: {{ quote.dislike }}</span
        >
      </li>
    </ng-template>
    <ng-template #empty><li appHighlight>
        {{ quote.quote }}
        <span class="btn btn-outline-success m-1">like: {{ quote.like }}</span
        ><span class="btn btn-outline-danger m-1"
          >dislike: {{ quote.dislike }}</span
        >
      </li></ng-template>
  </ul>
</div>
