<div
  *ngFor="let quote of quotes"
  class="container shadow col-md-8 border card mt-5"
>
  <div *ngIf="quote.id == 1; then highlight; else empty"></div>
  <ng-template #highlight>
    <div class="frame">
      <p appHighlight>{{ quote.quote }}</p>
      <span class="btn btn-outline-success m-1">like: {{ quote.like }}</span>
      <span class="btn btn-outline-danger m-1">dislike: {{ quote.dislike }}</span>
    </div>
  </ng-template>
  <ng-template #empty>
    <div class="frame">
      <p appHighlight>{{ quote.quote }}</p>
      <span class="btn btn-outline-success m-1">like: {{ quote.like }}</span>
      <span class="btn btn-outline-danger m-1">dislike: {{ quote.dislike }}</span>
    </div>
  </ng-template>
  <app-quote-detail [quote]="quote"></app-quote-detail>
</div>
